
<div class="container">
<h1>{{name}}</h1>
<div class="row">


  <div class="col-sm-6">
  <div class="row">
  		<div class="col-sm-6">
    		<employee-form></employee-form>
    	</div>
  </div>
  <div class="row">
  	<div class="col-sm-10">
    	<employee-table></employee-table> 
    </div>
  </div>
 </div>





<div class="col-sm-6">
   <div class="row">
		<div class="col-sm-6">
  			<payroll></payroll>
		</div>
	</div>
  

 


<div class="row">
  	<div class="col-sm-10">
    	<payroll-table></payroll-table> 
    </div>
   </div>
  </div>
   

</div>


  

